<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="./../furniture-css/header.css">
    <link rel="stylesheet" href="./../furniture-css/footer.css">
    <link rel="stylesheet" href="./购物车.css">
</head>

<body>
    <!-- <div class="header">
        <div class="header-content">
            <div class="header-top clearfix">
                <div class="htl">
                    <img src="./../img/logo.png" alt="">
                </div>
                <div class="htr clearfix">
                    <a href="" class="a1">登录</a>
                    <a href="">注册</a>
                    <div class="search">
                        <input type="text" placeholder="热门搜索: &nbsp; 干花花瓶">
                        <img src="./../img/ss.png" alt="">
                    </div>
                    <img class="gt3" src="./../img/gt3.png" alt="">
                    <div class="box">
                        <img src="./../img/ewm.png" alt="">
                        <div class="box1">
                            <img src="./../img/smewm.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="header-bottom">
                <div class="header-bottoma clearfix">
                    <ul class="clearfix">
                        <li>
                            <a href="">首页</a>
                        </li>
                        <li>
                            <a href="">所有商品</a>
                            <div class="menu">
                                <div class="menu-con clearfix">
                                    <div>
                                        <img src="./../img/nav1.jpg" alt="">
                                        <a>浓情欧式</a>
                                    </div>
                                    <div>
                                        <img src="./../img/nav5.jpg" alt="">
                                        <a>浪漫美式</a>
                                    </div>
                                    <div>
                                        <img src="./../img/nav6.jpg" alt="">
                                        <a>雅致中式</a>
                                    </div>
                                    <div>
                                        <img src="./../img/nav7.jpg" alt="">
                                        <a>简约现代</a>
                                    </div>
                                    <div>
                                        <img src="./../img/nav8.jpg" alt="">
                                        <a>创意装饰</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="">装饰摆件</a>
                        </li>
                        <li>
                            <a href="">布艺软饰</a>
                        </li>
                        <li>
                            <a href="">墙式壁挂</a>
                        </li>
                        <li>
                            <a href="">蜡艺香薰</a>
                        </li>
                        <li>
                            <a href="">创意家居</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <div class="main">
        <div class="main-t">
            <div class="main-top clearfix">
                <span>
                    购物车
                </span>
                <img src="./../img/cartTop01.jpg" alt="">
                <span>继续购物></span>
            </div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/sec102.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/vase01.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <span class="bnt">-</span>
                                1
                                <span class="bnt">+</span>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/vase03.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <span class="bnt">-</span>
                                1
                                <span class="bnt">+</span>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/xx103.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <span class="bnt">-</span>
                                1
                                <span class="bnt">+</span>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/xx104.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <span class="bnt">-</span>
                                1
                                <span class="bnt">+</span>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr>
                    <tr class="tbody-last">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="second clearfix">
                            <img src="./../img/xx105.jpg" alt="">
                            <div class="text">
                                <p class="p1">创意现代简约干花花瓶摆件</p>
                                <p class="p">颜色分类：</p>
                                <p class="p">白色瓷瓶+白色串枚</p>
                            </div>
                        </td>
                        <td class="td3">￥20.00</td>
                        <td class="td4">
                            <div class="td4-con clearfix">
                                <span class="bnt">-</span>
                                1
                                <span class="bnt">+</span>
                            </div>
                        </td>
                        <td></td>
                        <td class="td6">删除</td>
                    </tr> -->
                </tbody>
                <tfoot>
                    <!-- <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="tf-second" colspan="2">删除</td>
                        <td class="tf-third" colspan="3">
                            <div class="tf3-1">
                                共<span>0</span>件商品
                            </div>
                            <div class="tf3-2">
                                合计:
                                &nbsp;
                                <span>￥0.00</span>
                            </div>
                            <div class="tf3-3">结算</div>
                        </td>
                    </tr> -->
                </tfoot>

            </table>
        </div>
    </div>

    <!-- <div class="footer">
        <div class="footer-top clearfix">
            <div class="ft">
                <div class="ftp"></div>
                <span>7天无理由退货</span>
            </div>
            <div class="ft">
                <div class="ftp ftp2"></div>
                <span>15天免费换货</span>
            </div>
            <div class="ft">
                <div class="ftp ftp3"></div>
                <span>满599包邮</span>
            </div>
            <div class="ft">
                <div class="ftp ftp4"></div>
                <span>手机特色服务</span>
            </div>
        </div>
        <div class="footer-bottom">"蜗牛家居©2019-2021公司版权所有 京ICP备080100-xx号
            <br>
            违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
            "
        </div>
    </div> -->

</body>
<script src="./购物车.js"></script>

</html>