@import 'theme.scss';
@mixin f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin f-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 滚动条样式
@mixin scrollBar(){
  &::-webkit-scrollBar{
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 7px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #a1a1a1;
  }
  &::-webkit-scrollbar-track{
    border-radius: 0px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
  }
  // &::-webkit-scrollbar {
  //   /*滚动条整体样式*/
  //   width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  //   height: 1px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   /*滚动条里面小方块*/
  //   border-radius: 10px;
  //   box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  //   background   : #535353;
  // }
  // &::-webkit-scrollbar-track {
  //   /*滚动条里面轨道*/
  //   box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  //   border-radius: 10px;
  //   background   : #ededed;
  // }
  // &::-webkit-scrollbar {
  //     width: 6px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: #0003;
  //   border-radius: 10px;
  //   transition: all .2s ease-in-out;
  // }
  // &::-webkit-scrollbar-track {
  //   border-radius: 10px;
  // }
}

@mixin num($value,$bold){
  #{$value}: $bold;
  // background-color: pink;

  span {
    @content;
    @include f-c-c();
  }
  @include f-sb-c();
}