
$blue:skyblue;
$red:darkred;
$el-success:#67C23A;
$el-brand:#409EFF;
$el-warning:#E6A23C;
$el-danger:#F56C6C;
$el-info:#909399;
$themeColor:$el-info;

$linear1:linear-gradient(#e6646483, #9198e584);
$backgroundColor: $linear1;